@page
@using Microsoft.EntityFrameworkCore
@model ServiceHost.Areas.Administration.Pages.Accounts.Account.ChangePasswordModel
{
@{
}


<div >

    <h4 class="modal-title">ویرایش  پسورد </h4>
</div>


<form method="post" asp-page-handler="ChangePassword" >

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Command.Password " class="control-label">رمز عبور</label>
                    <input type="password" class="form-control" asp-for="@Model.Command.Password">
                    <span asp-validation-for="@Model.Command.Password" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.RePassword " class="control-label">تکرار رمز عبور  </label>
                    <input type="password" class="form-control" asp-for="Command.RePassword ">
                    <span asp-validation-for="Command.RePassword " class="error"></span>
                </div>
            </div>

        
            <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id"/>

        </div>

    
      

       @* <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id " />*@

    </div>

    <div class="modal-footer">

        <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
    </div>


</form>
